## editors
/.idea
/.vscode
/*.code-workspace
/.history

## system files
.DS_Store

## npm/yarn
node_modules
npm-debug.log
yarn-error.log

# we use yarn
/package-lock.json

## testing
coverage

## temp folders
.tmp
storybook-static
screenshots/.current
screenshots/.diff

## build artifacts
lib
build
docs
**/custom-elements.json

## types
*.d.ts
!types/
!index.d.ts

# Prove of Concept
pocs/
